
**/lightning_logs

**/*.duckdb
**/*.parquet

**/.venv
**/venv
**/__pycache__
**/.pytest_cache
**/.coverage
**/.coverage.*
**/htmlcov

**/*.egg-info
**/*.egg
**/*.pyc
**/*.pyo
**/*.pyd
**/*.c
**/*.so


